{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        re-frame {:mvn/version "0.12.0"}}
 :paths ["src" "target" "resources"]}
